<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- base bean start -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
	<!-- base bean end -->	
		
	<!-- DAO bean start -->
	<bean id="rolePortalGroupDAO" class="com.portal.dao.RolePortalGroupDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="defaultPortletDAO" class="com.portal.dao.DefaultPortletDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="dictDAO" class="com.portal.dao.DictDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="roleDAO" class="com.portal.dao.RoleDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="portalGroupDAO" class="com.portal.dao.PortalGroupDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="gridPortletDescriptionDAO" class="com.portal.dao.GridPortletDescriptionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="linkPropertyDAO" class="com.portal.dao.LinkPropertyDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="portletDAO" class="com.portal.dao.PortletDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="userRoleDAO" class="com.portal.dao.UserRoleDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="portalLayoutDAO" class="com.portal.dao.PortalLayoutDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="gridSearchDAO" class="com.portal.dao.GridSearchDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="iframePortletDescriptionDAO" class="com.portal.dao.IframePortletDescriptionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="abstractPortletDescriptionDAO" class="com.portal.dao.AbstractPortletDescriptionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="linkPortletDescriptionDAO" class="com.portal.dao.LinkPortletDescriptionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="portalDAO" class="com.portal.dao.PortalDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="userDAO" class="com.portal.dao.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="gridPropertyDAO" class="com.portal.dao.GridPropertyDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- DAO bean start -->
	
	<!-- Service Bean start -->
	<bean id="userService" class="com.portal.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDAO"></property>
		<property name="roleDAO" ref="roleDAO"></property>
		<property name="userRoleDAO" ref="userRoleDAO"></property>
	</bean>
	<bean id="roleService" class="com.portal.service.impl.RoleServiceImpl">
		<property name="userDAO" ref="userDAO"></property>
		<property name="roleDAO" ref="roleDAO"></property>
		<property name="userRoleDAO" ref="userRoleDAO"></property>
		<property name="portalGroupDAO" ref="portalGroupDAO"></property>
		<property name="rolePortalGroupDAO" ref="rolePortalGroupDAO"></property>
	</bean>
	<bean id="userRoleService" class="com.portal.service.impl.UserRoleServiceImpl">
		<property name="userRoleDAO" ref="userRoleDAO"></property>
	</bean>
	<bean id="portalGroupService" class="com.portal.service.impl.PortalGroupServiceImpl">
		<property name="portalGroupDAO" ref="portalGroupDAO"></property>
		<property name="rolePortalGroupDAO" ref="rolePortalGroupDAO"></property>
		<property name="roleDAO" ref="roleDAO"></property>
	</bean>
	<bean id="rolePortalGroupService" class="com.portal.service.impl.RolePortalGroupServiceImpl">
		<property name="rolePortalGroupDAO" ref="rolePortalGroupDAO"></property>
	</bean>
	<!-- Service Bean end -->
	
	<!-- Action Bean start -->
	<bean id="userAction" class="com.portal.action.UserAction">
		<property name="userService" ref="userService"></property>
		<property name="userRoleService" ref="userRoleService"></property>
	</bean>
	<bean id="roleAction" class="com.portal.action.RoleAction">
		<property name="roleService" ref="roleService"></property>
		<property name="rolePortalGroupService" ref="rolePortalGroupService"></property>
	</bean>
	<bean id="portalGroupAction" class="com.portal.action.PortalGroupAction">
		<property name="portalGroupService" ref="portalGroupService"></property>
	</bean>
	<!-- Action Bean end -->
	</beans>